/* line 1, scss/modules/_all.scss */
body {
  font-family: "Raleway", Arial, Halvetica, sans-serif;
}

/* line 5, scss/modules/_all.scss */
.container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 12, scss/modules/_all.scss */
ul, li {
  margin: 0;
  padding: 0;
}

/* line 18, scss/modules/_all.scss */
.invisible {
  display: none;
}

/* line 1, scss/modules/_animation.scss */
.slideToRight {
  animation: slideToRight;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slideToRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* line 22, scss/modules/_animation.scss */
.slideFromLeft {
  animation: slideFromLeft;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* line 43, scss/modules/_animation.scss */
.slideFromRight {
  animation: slideFromRight;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* line 63, scss/modules/_animation.scss */
.slideToLeft {
  animation: slideToLeft;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* line 88, scss/modules/_animation.scss */
.col-33 img:hover ~ div, .col-33 img ~ div:hover {
  animation: shading;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

/* line 97, scss/modules/_animation.scss */
.col-33 img ~ div {
  animation: showing;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

/* line 104, scss/modules/_animation.scss */
.planForm:hover {
  animation: hovering;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes shading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: collapse;
  }
}

@keyframes showing {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hovering {
  100% {
    box-sizing: border-box;
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
    color: #ffffff;
    .circle {
      background-color: black;
    }
  }
}

/* line 1, scss/partials/_header.scss */
nav {
  display: flex;
  background-color: black;
  color: white;
  width: 100vw;
  height: 5rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* line 12, scss/partials/_header.scss */
nav .container {
  flex-direction: column;
}

/* line 16, scss/partials/_header.scss */
nav .slideMenu {
  width: 100%;
  height: 20rem;
  display: none;
  overflow-y: hidden;
}

/* line 22, scss/partials/_header.scss */
nav .slideMenu > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 2rem;
  height: 100%;
  width: 100%;
}

/* line 33, scss/partials/_header.scss */
nav .slideMenu > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 16.6666%;
  width: 100%;
}

/* line 41, scss/partials/_header.scss */
nav .slideMenu > ul > li:first-of-type {
  height: 10rem;
}

/* line 47, scss/partials/_header.scss */
nav .slideMenu .dropdown {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-type: none;
  width: 100%;
  height: 10rem;
}

/* line 53, scss/partials/_header.scss */
nav .slideMenu .dropdown li {
  background-color: black;
  height: 33.33333%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 63, scss/partials/_header.scss */
nav .slideMenu p {
  font-size: 1.2rem;
  margin-right: 2rem;
}

/* line 68, scss/partials/_header.scss */
nav .slideMenu a {
  text-decoration: none;
  color: white;
}

/* line 74, scss/partials/_header.scss */
nav .minimal_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 79, scss/partials/_header.scss */
nav .minimal_menu label, nav .minimal_menu p {
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

/* line 84, scss/partials/_header.scss */
nav .minimal_menu span {
  color: #25bba0;
}

@media (min-width: 1024px) {
  /* line 1, scss/partials/_header.scss */
  nav {
    height: 4rem;
  }
  /* line 91, scss/partials/_header.scss */
  nav .container {
    flex-direction: row;
  }
  /* line 95, scss/partials/_header.scss */
  nav .dropdown {
    display: none;
    padding-top: 0.5rem;
    top: 5.8rem;
    width: 150%;
    text-align: center;
  }
  /* line 103, scss/partials/_header.scss */
  nav .dropdown li a {
    line-height: 2rem;
    font-weight: 400;
  }
  /* line 107, scss/partials/_header.scss */
  nav .dropdown li:first-child {
    padding-top: 1rem;
  }
  /* line 113, scss/partials/_header.scss */
  nav .minimal_menu {
    width: 50vw;
  }
  /* line 115, scss/partials/_header.scss */
  nav .minimal_menu p#menu {
    display: none;
  }
  /* line 120, scss/partials/_header.scss */
  nav .slideMenu {
    overflow-y: visible;
    width: 50vh;
    height: 4rem;
    display: flex;
    z-index: 2;
  }
  /* line 126, scss/partials/_header.scss */
  nav .slideMenu ul {
    flex-direction: row;
    height: 100%;
    display: flex;
    list-style-type: none;
  }
  /* line 131, scss/partials/_header.scss */
  nav .slideMenu ul li {
    box-sizing: border-box;
    margin-right: 1rem;
    position: relative;
  }
  /* line 136, scss/partials/_header.scss */
  nav .slideMenu ul li ul {
    display: none;
    position: absolute;
  }
  /* line 139, scss/partials/_header.scss */
  nav .slideMenu ul li ul:before {
    margin-top: calc(0.5rem - 5px);
    position: absolute;
    box-sizing: border-box;
    content: "";
    display: block;
    top: 0;
    right: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }
  /* line 155, scss/partials/_header.scss */
  nav .slideMenu ul li:hover ul {
    display: block;
  }
}

/* line 3, scss/partials/_slider.scss */
.slider {
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #dbdbdb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fefefe 0%, #dbdbdb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

/* line 10, scss/partials/_slider.scss */
.slider .container {
  align-content: stretch;
  width: 100%;
}

/* line 13, scss/partials/_slider.scss */
.slider .container ul {
  display: flex;
  width: 80%;
  list-style: none;
}

/* line 17, scss/partials/_slider.scss */
.slider .container ul > li {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 24, scss/partials/_slider.scss */
.slider .container ul > li:first-of-type {
  display: flex;
}

@media (min-width: 800px) {
  /* line 10, scss/partials/_slider.scss */
  .slider .container {
    max-width: 1200px;
    min-height: 400px;
  }
}

/* line 40, scss/partials/_slider.scss */
.col-10 {
  width: 0;
  display: none;
}

@media (min-width: 1024px) {
  /* line 40, scss/partials/_slider.scss */
  .col-10 {
    width: 10%;
    display: flex;
    color: #25bba0;
    font-size: 4.5rem;
    align-content: center;
    justify-content: center;
  }
}

/* line 55, scss/partials/_slider.scss */
.col-40 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (min-width: 800px) {
  /* line 55, scss/partials/_slider.scss */
  .col-40 {
    width: 50%;
  }
}

/* line 66, scss/partials/_slider.scss */
.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* line 72, scss/partials/_slider.scss */
.slogan p:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
}

/* line 75, scss/partials/_slider.scss */
.slogan p:first-of-type span {
  color: #25bba0;
}

/* line 80, scss/partials/_slider.scss */
.slogan button {
  background-color: #25bba0;
  width: 18rem;
  height: 3.5rem;
  color: white;
  border-radius: 1rem;
  border-color: transparent;
  margin-bottom: 1rem;
}

/* line 90, scss/partials/_slider.scss */
.slogan button span {
  text-transform: uppercase;
  font-size: 1rem;
}

/* line 2, scss/partials/_gallery.scss */
.gallery {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

/* line 9, scss/partials/_gallery.scss */
.gallery .container {
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 800px) {
  /* line 9, scss/partials/_gallery.scss */
  .gallery .container {
    max-width: 1200px;
    min-height: 350px;
  }
}

/* line 21, scss/partials/_gallery.scss */
.gallery .col-33 {
  flex-grow: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 0.6rem;
}

/* line 31, scss/partials/_gallery.scss */
.gallery .col-33:last-of-type {
  max-width: 330px;
  height: 15rem;
  align-items: center;
  justify-content: center;
}

/* line 36, scss/partials/_gallery.scss */
.gallery .col-33:last-of-type .text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #dbdbdb;
}

/* line 41, scss/partials/_gallery.scss */
.gallery .col-33:last-of-type .text h2 {
  margin-top: 2rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  display: block;
  width: 8rem;
  border-bottom: 7px solid #25bba0;
  font-size: 0.9rem;
}

/* line 50, scss/partials/_gallery.scss */
.gallery .col-33:last-of-type .text p {
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  font-weight: lighter;
  font-size: 0.9rem;
}

/* line 59, scss/partials/_gallery.scss */
.gallery .col-33 .overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
  bottom: 2rem;
  height: 4rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 68, scss/partials/_gallery.scss */
.gallery .col-33 .overlay h2 {
  display: block;
  width: 8rem;
  margin-left: 1.4rem;
  border-bottom: 7px solid #25bba0;
}

/* line 73, scss/partials/_gallery.scss */
.gallery .col-33 .overlay h2 span {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  /* line 80, scss/partials/_gallery.scss */
  .gallery .col-33:last-of-type {
    max-width: 400px;
  }
  /* line 82, scss/partials/_gallery.scss */
  .gallery .col-33:last-of-type .text {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* line 4, scss/partials/_offers.scss */
.prices {
  min-height: 700px;
  background-color: #f1f1f1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3.1rem;
}

/* line 12, scss/partials/_offers.scss */
.prices .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* line 17, scss/partials/_offers.scss */
.prices .container h2 {
  display: block;
  width: 0.66em;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 0 0;
  text-transform: uppercase;
  padding: 2rem 20rem 0 0;
  border-bottom: 7px solid #25bba0;
}

@media (min-width: 800px) {
  /* line 17, scss/partials/_offers.scss */
  .prices .container h2 {
    align-self: flex-start;
    margin: 0 0 0 2.1rem;
  }
}

/* line 32, scss/partials/_offers.scss */
.prices .container .planForm {
  position: relative;
  color: #25bba0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  min-width: 300px;
  max-width: 330px;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  margin-top: 2.5rem;
  height: 300px;
  border: 2px solid #d4d4d4;
  flex-grow: 1;
}

@media (min-width: 800px) {
  /* line 32, scss/partials/_offers.scss */
  .prices .container .planForm {
    height: 500px;
  }
}

/* line 51, scss/partials/_offers.scss */
.prices .container .planForm:hover::after {
  border: 2px solid #25bba0;
  background-color: #25bba0;
}

/* line 55, scss/partials/_offers.scss */
.prices .container .planForm:hover .circle {
  background-color: white;
}

/* line 58, scss/partials/_offers.scss */
.prices .container .planForm:hover button {
  color: #27c7ab;
  background-color: white;
}

/* line 62, scss/partials/_offers.scss */
.prices .container .planForm:hover .rounded {
  border-color: white;
}

/* line 64, scss/partials/_offers.scss */
.prices .container .planForm:hover .rounded p {
  color: #25bba0;
}

/* line 69, scss/partials/_offers.scss */
.prices .container .planForm:hover ul > li {
  background-color: #ffffff;
}

/* line 71, scss/partials/_offers.scss */
.prices .container .planForm:hover ul > li :nth-of-type(2n) {
  background-color: #f1f1f1;
  color: #b7b7b7;
}

/* line 77, scss/partials/_offers.scss */
.prices .container .planForm::after {
  position: absolute;
  box-sizing: border-box;
  display: block;
  top: -25px;
  left: calc(50% - 25px);
  content: "";
  width: 50px;
  height: 50px;
  border: 2px solid #c2c2c2;
  border-radius: 50%;
  background-color: white;
}

/* line 91, scss/partials/_offers.scss */
.prices .container .planForm button {
  background-color: #25bba0;
  color: white;
  border-radius: 10px;
  border: transparent;
  width: 75%;
  height: 30px;
  bottom: 15px;
  align-self: center;
}

@media (min-width: 800px) {
  /* line 91, scss/partials/_offers.scss */
  .prices .container .planForm button {
    width: 40%;
  }
}

/* line 106, scss/partials/_offers.scss */
.prices .container .rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  border: 2px solid #d8d8d8;
  text-transform: uppercase;
  font-weight: 700;
  color: #c1c1c1;
}

/* line 120, scss/partials/_offers.scss */
.prices .container .rounded sup {
  font-size: 0.5rem;
}

/* line 123, scss/partials/_offers.scss */
.prices .container .rounded p {
  display: block;
  margin: 0 auto;
}

/* line 127, scss/partials/_offers.scss */
.prices .container .rounded p:first-of-type {
  font-size: 1.2rem;
  font-weight: 700;
}

@media (min-width: 800px) {
  /* line 106, scss/partials/_offers.scss */
  .prices .container .rounded {
    height: 130px;
    width: 130px;
    align-self: center;
  }
  /* line 135, scss/partials/_offers.scss */
  .prices .container .rounded p:first-of-type {
    font-size: 2rem;
    font-weight: 700;
  }
  /* line 139, scss/partials/_offers.scss */
  .prices .container .rounded sup {
    font-size: 1rem;
  }
}

/* line 146, scss/partials/_offers.scss */
.prices .container .row-50 {
  box-sizing: border-box;
  padding-top: 20px;
  position: relative;
  height: 50%;
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* line 156, scss/partials/_offers.scss */
.prices .container .row-50 ul {
  width: 100%;
}

/* line 159, scss/partials/_offers.scss */
.prices .container .row-50:first-of-type {
  height: 30%;
}

/* line 162, scss/partials/_offers.scss */
.prices .container .row-50:nth-of-type(2) {
  height: 70%;
  flex-direction: column;
}

@media (min-width: 800px) {
  /* line 167, scss/partials/_offers.scss */
  .prices .container .row-50:first-of-type {
    height: 50%;
    flex-direction: column;
  }
  /* line 171, scss/partials/_offers.scss */
  .prices .container .row-50:nth-of-type(2) {
    height: 50%;
  }
}

/* line 178, scss/partials/_offers.scss */
.prices .container .row-50 ul > li {
  height: 30px;
  line-height: 30px;
  width: 100%;
  display: block;
  background-color: #e4e4e4;
  text-align: center;
  color: #a8a8a8;
}

@media (min-width: 800px) {
  /* line 178, scss/partials/_offers.scss */
  .prices .container .row-50 ul > li {
    height: 40px;
    line-height: 40px;
  }
}

/* line 192, scss/partials/_offers.scss */
.prices .container .offers {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/* line 199, scss/partials/_offers.scss */
.prices .container .offers .row-50 ul > li:nth-of-type(2n) {
  background-color: #f1f1f1;
  color: #b7b7b7;
}

/* line 204, scss/partials/_offers.scss */
.prices .container .offers .row-50 ul > li.notVisible {
  background-color: inherit;
  color: inherit;
}

/* line 209, scss/partials/_offers.scss */
.prices .container .offers .active .row-50 ul > li.notVisible {
  background-color: inherit;
  color: inherit;
}

@media (min-width: 800px) {
  /* line 192, scss/partials/_offers.scss */
  .prices .container .offers {
    justify-content: center;
  }
}

/* line 220, scss/partials/_offers.scss */
.prices .circle {
  position: absolute;
  box-sizing: border-box;
  display: block;
  content: "";
  top: -13px;
  left: calc(50% - 13px);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #c2c2c2;
  z-index: 1;
}

/* line 234, scss/partials/_offers.scss */
.prices .offerTitle {
  display: block;
  box-sizing: border-box;
  padding-top: 0.6rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 800px) {
  /* line 234, scss/partials/_offers.scss */
  .prices .offerTitle {
    width: 100%;
    padding-top: 0;
    font-size: 1.4rem;
  }
}

/* line 4, scss/partials/_contact.scss */
.contact {
  position: relative;
  min-height: 40rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* line 13, scss/partials/_contact.scss */
.contact .container {
  flex-direction: column;
  justify-content: space-around;
  width: 330px;
}

@media (min-width: 800px) {
  /* line 13, scss/partials/_contact.scss */
  .contact .container {
    width: 1200px;
  }
}

/* line 24, scss/partials/_contact.scss */
.contact h2 {
  width: 330px;
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 7px solid #25bba0;
}

@media (min-width: 800px) {
  /* line 24, scss/partials/_contact.scss */
  .contact h2 {
    align-self: flex-start;
    margin-left: 2rem;
  }
}

/* line 37, scss/partials/_contact.scss */
.contact form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 800px) {
  /* line 37, scss/partials/_contact.scss */
  .contact form {
    width: 100%;
    flex-direction: row;
  }
}

/* line 48, scss/partials/_contact.scss */
.contact .chairImage {
  display: none;
}

@media (min-width: 800px) {
  /* line 48, scss/partials/_contact.scss */
  .contact .chairImage {
    display: block;
  }
}

/* line 55, scss/partials/_contact.scss */
.contact .col-40 {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  /* line 55, scss/partials/_contact.scss */
  .contact .col-40 {
    width: 40%;
  }
}

/* line 63, scss/partials/_contact.scss */
.contact .col-60 {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  /* line 63, scss/partials/_contact.scss */
  .contact .col-60 {
    width: 60%;
  }
}

/* line 72, scss/partials/_contact.scss */
.contact .communities {
  width: 20rem;
  height: 2.5rem;
}

@media (min-width: 800px) {
  /* line 72, scss/partials/_contact.scss */
  .contact .communities {
    width: 40%;
  }
  /* line 77, scss/partials/_contact.scss */
  .contact .communities span {
    margin-right: 2.5rem;
    line-height: 2.5rem;
  }
}

/* line 82, scss/partials/_contact.scss */
.contact .communities a {
  display: block;
  float: left;
}

/* line 86, scss/partials/_contact.scss */
.contact .communities span {
  float: right;
}

/* line 93, scss/partials/_contact.scss */
.contact .permission {
  font-size: 1rem;
  font-weight: 300;
  color: #919191;
}

/* line 99, scss/partials/_contact.scss */
.contact button {
  height: 3rem;
  width: 60%;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #25bba0;
  border-radius: 0.6rem;
  color: white;
  border-color: transparent;
}

@media (min-width: 800px) {
  /* line 99, scss/partials/_contact.scss */
  .contact button {
    width: calc(100% - 2.5rem);
    align-self: flex-start;
    margin-right: 2.5rem;
  }
}

@media (min-width: 800px) {
  /* line 118, scss/partials/_contact.scss */
  .contact #footline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

/* line 126, scss/partials/_contact.scss */
.contact #copyrights {
  display: block;
  color: #919191;
  font-size: 1.2rem;
  line-height: 2.5rem;
  height: 2.5rem;
  align-self: flex-end;
}

@media (min-width: 800px) {
  /* line 126, scss/partials/_contact.scss */
  .contact #copyrights {
    margin-left: 2rem;
  }
}

/* line 139, scss/partials/_contact.scss */
.contact input {
  box-sizing: border-box;
  display: block;
  height: 4rem;
  width: 330px;
  margin: 0.3rem 4.4rem;
  border: 1px solid #a1e6d1;
}

@media (min-width: 800px) {
  /* line 139, scss/partials/_contact.scss */
  .contact input {
    width: 80%;
    margin-left: 1.9rem;
  }
}

/* line 152, scss/partials/_contact.scss */
.contact input[placeholder] {
  font-size: 1rem;
  font-weight: 300;
  padding: 0 0 0 15px;
  opacity: 0.5;
}

/* line 159, scss/partials/_contact.scss */
.contact textarea {
  box-sizing: border-box;
  height: 11rem;
  width: 330px;
  margin: 0.3rem 4.4rem;
  resize: none;
  border-color: #a1e6d1;
}

@media (min-width: 800px) {
  /* line 159, scss/partials/_contact.scss */
  .contact textarea {
    width: 80%;
    margin-left: 1.9rem;
  }
}

/* line 172, scss/partials/_contact.scss */
.contact textarea[placeholder] {
  padding: 1.25rem 0 0 1rem;
  opacity: 0.5;
  font-weight: 300;
  font-size: 1rem;
}

/* line 179, scss/partials/_contact.scss */
.contact div.checkbox.check-box {
  box-sizing: border-box;
  width: 330px;
  padding-left: 1.25rem;
}

@media (min-width: 800px) {
  /* line 179, scss/partials/_contact.scss */
  .contact div.checkbox.check-box {
    width: 100%;
    padding-left: 0;
    padding-right: 2.5rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
}

/* line 191, scss/partials/_contact.scss */
.contact .checkbox {
  position: relative;
  padding: 1.25rem 1.25rem 1.25rem 0;
}

@media (min-width: 800px) {
  /* line 191, scss/partials/_contact.scss */
  .contact .checkbox {
    padding: 0;
  }
}

/* line 201, scss/partials/_contact.scss */
.contact .checkbox input {
  display: block;
  opacity: 0;
  height: 1.25rem;
  position: absolute;
  width: 1.25rem;
  cursor: pointer;
}

/* line 209, scss/partials/_contact.scss */
.contact .checkbox label {
  display: block;
  padding-left: 4rem;
  position: relative;
  font-size: 1rem;
  color: #cecece;
  line-height: 120%;
  cursor: pointer;
}

@media (min-width: 800px) {
  /* line 209, scss/partials/_contact.scss */
  .contact .checkbox label {
    font-size: 1.5rem;
  }
}

/* line 225, scss/partials/_contact.scss */
.contact .checkbox label::before, .contact .checkbox label::after {
  border: 1px solid #25bba0;
  content: "";
  display: block;
  left: 0;
  height: 3rem;
  position: absolute;
  width: 3rem;
  top: 0;
}

/* line 235, scss/partials/_contact.scss */
.contact .checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

/* line 241, scss/partials/_contact.scss */
.contact .checkbox input:checked + label::after {
  display: block;
}

/* line 245, scss/partials/_contact.scss */
.contact .active {
  background: url("../images/form_ok.jpg");
  width: 3rem;
  height: 2.5rem;
}

/* line 1, scss/partials/_calculator.scss */
.calculator {
  width: 100%;
  min-height: 600px;
  margin-top: 1.9rem;
  padding-bottom: 1.9rem;
  background-color: #f9f9f9;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* line 11, scss/partials/_calculator.scss */
.calculator .container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 19, scss/partials/_calculator.scss */
.calculator .container .image_part {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  /* line 11, scss/partials/_calculator.scss */
  .calculator .container {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* line 28, scss/partials/_calculator.scss */
  .calculator .container .summary_part {
    order: 2;
  }
  /* line 31, scss/partials/_calculator.scss */
  .calculator .container .image_part {
    order: 3;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  /* line 11, scss/partials/_calculator.scss */
  .calculator .container {
    justify-content: space-between;
    flex-direction: row;
  }
  /* line 39, scss/partials/_calculator.scss */
  .calculator .container .image_part {
    order: 2;
    width: 30%;
  }
}

/* line 45, scss/partials/_calculator.scss */
.calculator .container .summary_part {
  height: 400px;
}

@media (min-width: 1024px) {
  /* line 45, scss/partials/_calculator.scss */
  .calculator .container .summary_part {
    margin-right: 40px;
    order: 3;
  }
}

/* line 54, scss/partials/_calculator.scss */
.calculator .container .choice_part {
  padding: 0;
}

@media (min-width: 1024px) {
  /* line 54, scss/partials/_calculator.scss */
  .calculator .container .choice_part {
    margin-left: 30px;
  }
}

/* line 62, scss/partials/_calculator.scss */
.calculator .container h3 {
  color: #575757;
  font-size: 18px;
  align-self: center;
}

/* line 68, scss/partials/_calculator.scss */
.calculator .container header {
  text-align: center;
}

/* line 72, scss/partials/_calculator.scss */
.calculator .inline {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

/* line 80, scss/partials/_calculator.scss */
.calculator .form {
  margin-top: 50px;
}

/* line 83, scss/partials/_calculator.scss */
.calculator .drop_down_list {
  border: 1px solid #8de0d2;
  width: 280px;
  height: 38px;
  background-color: white;
  margin-top: 22px;
  padding: 8px 12px;
  position: relative;
}

/* line 93, scss/partials/_calculator.scss */
.calculator .list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

/* line 99, scss/partials/_calculator.scss */
.calculator .checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}

/* line 103, scss/partials/_calculator.scss */
.calculator .checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

/* line 112, scss/partials/_calculator.scss */
.calculator .checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

/* line 123, scss/partials/_calculator.scss */
.calculator .checkbox label::before, .calculator .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}

/* line 133, scss/partials/_calculator.scss */
.calculator .checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

/* line 139, scss/partials/_calculator.scss */
.calculator .checkbox input:checked + label::after {
  display: block;
}

/* line 143, scss/partials/_calculator.scss */
.calculator .active {
  background: url("../images/form_ok.jpg");
  width: 48px;
  height: 40px;
}

/* line 149, scss/partials/_calculator.scss */
.calculator .inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}

/* line 159, scss/partials/_calculator.scss */
.calculator .application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

/* line 167, scss/partials/_calculator.scss */
.calculator .summary_panel {
  background-color: white;
  width: 100%;
  height: 195px;
  margin-top: 50px;
}

/* line 177, scss/partials/_calculator.scss */
.calculator .container .green_button {
  background-color: #27c7ab;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 8px;
  text-decoration: none;
}

/* line 192, scss/partials/_calculator.scss */
.calculator .panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

/* line 201, scss/partials/_calculator.scss */
.calculator .panel_right {
  display: inline-block;
  width: 100px;
  border-left: 1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

/* line 212, scss/partials/_calculator.scss */
.calculator .panel_left h4, .calculator .panel_right h4 {
  color: #24baa0;
  font-size: 1.2rem;
}

/* line 217, scss/partials/_calculator.scss */
.calculator .panel_left span {
  font-size: 1rem;
  color: #5b5a5a;
  display: block;
}

/* line 223, scss/partials/_calculator.scss */
.calculator .panel_right span {
  display: block;
  font-size: 1rem;
  color: #24baa0;
}

/* line 228, scss/partials/_calculator.scss */
.calculator .sum_label {
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

/* line 236, scss/partials/_calculator.scss */
.calculator .sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

/* line 245, scss/partials/_calculator.scss */
.calculator .list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display: block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

/* line 258, scss/partials/_calculator.scss */
.calculator .list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
}

/* line 271, scss/partials/_calculator.scss */
.calculator .list_panel li {
  margin-top: 10px;
  cursor: pointer;
  color: #585858;
}

/* line 277, scss/partials/_calculator.scss */
.calculator .title {
  height: 30px;
}
