nav {
  display: flex;
  background-color: $headerBackground;
  color: white;
  width: 100vw;
  height: 5rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  .container {
    flex-direction: column;
  }

  .slideMenu {
    width: 100%;
    height: 20rem;
    display: none;
    overflow-y: hidden;

    > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;

      margin-right: 2rem;
      height: 100%;
      width: 100%;

      > li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 16.6666%;
        width: 100%;

        &:first-of-type {
          height: 10rem;
        }
      }
    }

    .dropdown {
      margin-top: 1rem;
      margin-bottom: 1rem;
      list-style-type: none;
      width: 100%;
      height: 10rem;
      li {
        background-color: $headerBackground;
        height: 33.33333%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    p {
      font-size: 1.2rem;
      margin-right: 2rem;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .minimal_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label, p {
      margin-left: 1rem;
      margin-right: 1rem;
      text-transform: uppercase;
    }
    span {
      color: $mainAccentColor;
    }

  }
  @media (min-width: 1024px) {
    height: 4rem;
    .container {
      flex-direction: row;
    }

    .dropdown {
      display: none;
      padding-top: 0.5rem;
      top: 5.8rem;
      width: 150%;
      text-align: center;
      li {

        a {
          line-height: 2rem;
          font-weight: 400;
        }
        &:first-child {
          padding-top: 1rem;
        }
      }

    }
    .minimal_menu {
      width: 50vw;
      p#menu {
        display: none;
      }

    }
    .slideMenu {
      overflow-y: visible;
      width: 50vh;
      height: 4rem;
      display: flex;
      z-index: 2;
      ul {
        flex-direction: row;
        height: 100%;
        display: flex;
        list-style-type: none;
        li {
          box-sizing: border-box;
          margin-right: 1rem;
          position: relative;

          ul {
            display: none;
            position: absolute;
            &:before {
              margin-top: calc(0.5rem - 5px);
              position: absolute;
              box-sizing: border-box;
              content: "";
              display: block;
              top: 0;
              right: 50%;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid $headerBackground;
            }
          }

          &:hover ul {
            display: block;
          }

        }
      }
    }
  }
}


