.slideToRight{
  animation: slideToRight;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}


@keyframes slideToRight {

  0%{
    transform: translateX(0%);
    opacity: 1;

  }
  100%{
    transform: translateX(100%);
    opacity: 0;
  }
}
.slideFromLeft{
  animation: slideFromLeft;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}

@keyframes slideFromLeft {
  0%{
    transform: translateX(-100%);
    opacity: 0;

  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}


.slideFromRight{
  animation: slideFromRight;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}


@keyframes slideFromRight {

  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}
.slideToLeft{
  animation: slideToLeft;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}

@keyframes slideToLeft {
  0%{
    transform: translateX(0%);
    opacity: 1;


  }
  100%{
    transform: translateX(-100%);
    opacity: 0;
  }
}


//Gallery animation

.col-33 img{
  &:hover~div, &~div:hover{
    animation: shading;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
}

.col-33 img{
  &~div{
    animation: showing;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
}
.planForm:hover {
  animation: hovering;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}

@keyframes shading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: collapse;
  }
}

@keyframes showing {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hovering {
  100% {
    box-sizing: border-box;
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
    color: #ffffff;
    & .circle{
      background-color: black;
    }
  }
}


